
/* MEDIA QUERIES */

@media (max-width: 768px) {
	
	

	.contact-section p {
		font-size: 1.3em;
	}
	
	#back-to-top {
		display:none;
	}
	
	#footer-nav {
		display: inline-block;
		float:right;
		padding-right: 1em;
	}
	#footer-nav a {
		padding: .2em 1em;
		font-weight: bolder;
		color: #3a3a3a;
	}
	
	footer {
		margin-bottom: 3em;
	}
}

@media (max-width: 1024px) {
	
	.main-header {
		padding-bottom: 15%;
	}
	
		.header-nav {
			margin: 4em
		}

			h1 {
				display: inline-block;
				float: left;
				padding: 0;
			}

			ul {
				float: right;
				display: inline-block;	
			}
	.bio-text {
		margin-left: 5%;
	}
		.profile-pic {
			width: 30%;
			margin-right: 5%;
		}
	h2 {
		padding-bottom: 2em;
	}
	
	.contact-section {
		width: 80%;
	}

}

