footer {
  padding: 0 1em 3em 1em;
  
  @include tablet{
    margin-bottom: 3em;
  }

  @include desktop{
    margin: 0 2em;
    font-size: 1.2em;
  }
}

#student-name {
  padding-left: 15px;
  float: left;
  @extend %bolder;
  color: $dark-grey;
}

#back-to-top {
  @extend %uppercase;
  padding-right: 15px;
  float:right;
  @extend %bolder;
  color: $dark-grey;
  
  @include tablet{
    display:none; 
  }
}

#footer-nav {
  display: none;
  
  @include tablet{
    display: inline-block;
    float:right;
    padding-right: 1em;
  }
}

#footer-nav a {
  
  @include tablet{
    padding: .2em 1em;
    font-weight: bolder;
    color: $dark-grey;
  }
}