//include rules like primary and secondary content//

/* CONTACT STYLING */


.contact-section {
  padding: 2em 1em;
  border-bottom: 1px solid $light-grey;
  @extend %pic;
  
  @media #{$brk-wide}{
   width: 80%; 
  }
  
}

.contact-section p {
 
  @media #{$brk-narrow}{
    font-size: 1.3em;
  }

}

#contact-title {
  @extend %uppercase;
  
  @media #{$brk-narrow}{
    font-size: .8em;
  }
}

#contact-text {
  padding-bottom: 1em;
  
  @media #{$brk-narrow}{
    font-size: 1.4em;
    }
  
  @media #{$brk-wide}{
    font-size: 1.1em;
    display: block;
    margin: 0 auto;
    width: 65%;
    }
}

#back-to-top {
  @media #{$brk-narrow}{
    display:none; 
  }
}