
// Uppercase Text

%uppercase {
  text-transform: uppercase;
}

// Bold Text

%bolder {
  font-weight: bolder;
}

// Width 90 Display Block Margin Auto

%pic {
  width: 90%;
  display: block;
  margin: auto;
}

