.main-header {
	padding: .5em;
  
  @media #{$brk-narrow} {
    padding-bottom: 10em;
  }

  @media #{$brk-wide} {
    padding-bottom: 15%;
  }
}

.header-nav {
  @media #{$brk-wide}{
    margin:4em;
  }
}

.mini-bio {
  padding: .5em;
  margin: .25em;
}

.profile-pic {
  width: 70%;
  display: block;
  margin: 0 auto;

  @media #{brk-narrow}{
    display: block;
    float: right;
    width: 40%;
    margin-left: 1em;
  }

}

.bio-text {
  padding-top: 1em;

  @media #{brk-narrow}{
    font-size: 1.25em;
    text-align: left;
  }

  @media #{brk-wide}{
    margin-left: 5%;
  }
}
