.main-header {
	padding: .5em;
}

ul {
  list-style-type: none;
  padding: .5em;
}

ul li {
  @extend %uppercase;
  display: block;
  margin: .5em;
  padding: .5em;
  background-color: $white;
  @extends %bolder;
}

.mini-bio {
  padding: .5em;
  margin: .25em;
}

  .profile-pic {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  .bio-text {
    padding-top: 1em;
  }
