// Styling for HTML Elements

* {
	box-sizing: border-box;
}

h1 {
	font-weight: bolder;
    @media #{$brk-narrow} {
      padding-top: 1em;
    }
    @media #{$brk-wide} {
      display: inline-block;
      float: left;
      padding: 0;
    }
}

h2 {
  @media #{$brk-wide}{
    padding-bottom: 2em; 
  }
}

h3 {
	padding-top: 1em;
}

p {
	color: $grey;
}

a {
	text-decoration: none;
	color: $grey;
}

body {
	color: $dark-grey;
	text-align: center;
	background-color: $white;
}

ul {
  list-style-type: none;
  padding: .5em;
  background-color: $light-grey;
  
  @media #{$brk-wide}{
    float:right;
    display:inline-block;
  } 
}

ul li {
  @extend %uppercase;
  display: block;
  margin: .5em;
  padding: .5em;
  background-color:  $white;
  @extends %bolder;
  
  @media #{brk-narrow} {
    display:inline-block;
    background-color: #fafafa;
  }
}

.bold-text {
  @extend %bolder;
}

.init-color {
  color: initial;
}



/* CLEARFIX */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
} 