// Descriptive Color Variables

$white          : #ffffff;
$grey           : #7f7f7f;
$dark-grey      : #3a3a3a;
$light-grey     : #e7e7e7;

// Functional Color Variables

$color-headings : $dark-grey;
$color-text     : $grey;
