// Descriptive Color Variables

$white          : #ffffff;
$grey           : #7f7f7f;
$dark-grey      : #3a3a3a;
$light-grey     : #fafafa;

// Functional Color Variables

$color-headings : $dark-grey;
$color-text     : $grey;

// Media Query Breakpoints

$brk-tablet     : '(min-width: 769px)';
$brk-desktop    : '(min-width: 1025px)';

